h1, h2, h3, h4, h5, h6, p {
  color: black;
  line-height: 1.4; }

h1 {
  font-size: 5.063rem; }

h2 {
  font-size: 3.375rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.667rem; }

p {
  font-size: 1.1rem; }

.txt-white {
  color: #E8F1F2; }

html, body {
  widows: 100%;
  height: 100%;
  font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: black;
  font-size: 16px; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

.container {
  width: 80%;
  margin: auto; }
  .container--centre {
    text-align: center; }

.star {
  font-size: 1.8rem;
  color: #cccccc;
  display: inline-block;
  margin: 0.3em; }
  .star--active {
    color: #FFFF99; }

.form {
  padding: 20px 30px;
  width: 60%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  margin: 0 auto; }
  .form > div {
    margin: 30px 0px; }
  .form__textarea {
    resize: none;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    font-size: 18pt;
    font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif; }
  .form__text {
    padding: 10px;
    font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    min-width: 300px;
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #4169E1; }
  .form__label {
    font-size: 24pt; }
  .form__review {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
    .form__review input[type=radio] {
      display: none; }
    .form__review input[type=radio]:checked ~ label .star {
      color: #FFFF99; }
    .form__review input[type=radio]:hover ~ label .star {
      color: #FFFF99; }

.pagination {
  width: 100%;
  text-align: center;
  margin: 30px 0px; }
  .pagination__link {
    padding: 5px;
    position: relative;
    margin: 0px 10px;
    text-decoration: none;
    color: black; }
    .pagination__link:visited {
      color: black; }
    .pagination__link::after {
      width: 100%;
      position: absolute;
      left: 0px;
      top: 100%;
      border-bottom: 2px solid #4169E1;
      content: "";
      display: none; }
    .pagination__link:hover::after {
      display: inline-block; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.25rem;
  font-size: 1rem;
  z-index: 1; }
  .nav__item {
    position: relative;
    display: inline-block;
    font-size: 1.15em; }
    .nav__item--link {
      padding: 0px 1.25em;
      text-transform: uppercase;
      font-weight: 700;
      color: black;
      z-index: 2; }
      .nav__item--link:visited {
        color: black; }
      .nav__item--link::after {
        display: none;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0.5em;
        border-bottom: 0.8em solid #C2D3FF;
        z-index: -1;
        content: ""; }
      .nav__item--link:hover::after {
        display: inline-block; }

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 0.8em; }
  .btn--form {
    display: inline-block; }
  .btn--primary {
    background-color: #4169E1;
    color: #E8F1F2; }
  .btn--secondary {
    color: #4169E1;
    text-transform: uppercase; }
  .btn--slide {
    position: relative;
    left: 85%;
    transition: all 0.5s; }
    .btn--slide:hover {
      left: 0%; }

.panel {
  width: 100%;
  font-size: 1rem;
  padding: 2.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.6em 1.25em;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .panel__title {
    grid-column: 1 / span 3;
    margin: 0 auto 0.3em auto; }
  .panel__poster {
    width: 80%;
    min-width: 14em;
    margin: auto; }
  .panel__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .panel__column--left {
      align-items: flex-end;
      text-align: right; }
    .panel__column--right {
      align-items: flex-start;
      text-align: left; }
  .panel__section {
    margin: 2em 0px; }

.panel__btn {
  padding: 1.25em 0px;
  background-color: #4169E1;
  width: 100%; }

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 45%;
  margin: 2%;
  text-overflow: ellipsis;
  font-size: 1rem; }
  .card__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2; }
  .card__poster {
    width: 40%;
    align-self: center; }
  .card__text {
    margin: 1.5em 1.25em; }
  .card__header {
    margin-bottom: 1em; }

.search {
  font-size: 1.5rem;
  margin: 3rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .search--white {
    border-bottom: 0.175em solid #E8F1F2; }
    .search--white .search__bar {
      color: #E8F1F2; }
    .search--white .search__bar::placeholder {
      color: #E8F1F2; }
    .search--white .search__btn {
      font-size: 1.2em;
      color: #E8F1F2; }
  .search__bar {
    background: transparent;
    border: none;
    font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1.75em;
    padding: 0.75em; }
    .search__bar::placeholder {
      font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700; }

.error {
  background: #f08080; }

.success {
  background: #90ee90; }

.review {
  font-size: 1rem;
  padding: 0.8em;
  margin: 3em 0px;
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr; }
  .review__content {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1em;
    z-index: 2; }
  .review__text {
    margin: 0.6em 0px; }
  .review__extra {
    height: 0px;
    overflow: hidden; }
  .review__extra--open {
    margin: 1.25em 0px; }
  .review__stars {
    display: inline-block;
    text-align: center;
    margin: 0.7em; }

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: auto; }

.centre-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4169E1; }

.card-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.stats {
  margin: 9rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .stats__item {
    display: inline-block;
    text-align: center; }
  .stats__num {
    font-size: 7em;
    line-height: 1.25em; }

.user {
  width: 30%;
  margin: 0px 10px;
  display: inline-block;
  padding: 20px;
  vertical-align: top; }

.user-container {
  width: 65%;
  margin: 0px 10px;
  display: inline-block;
  padding: 20px; }

.films-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  width: 100%;
  margin: 0px 0px 75px 0px; }

/*# sourceMappingURL=app.css.map */
