h1, h2, h3, h4, h5, h6, p {
  line-height: 1.4;
  color: #404040; }

h1 {
  font-size: 3.998rem; }

h2 {
  font-size: 2.827rem; }

h3 {
  font-size: 1.999rem; }

h4 {
  font-size: 1.414rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.707rem; }

p {
  font-size: 1rem; }

.txt-white {
  color: #E8F1F2; }

.text--secondary {
  color: #9e9e9e; }

html, body {
  font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: black;
  font-size: 16px; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

button, input[type=submit] {
  border: none;
  cursor: pointer;
  text-decoration: none; }

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  .container--centre {
    text-align: center; }

.bg-primary {
  background-color: #FE6363;
  min-height: calc(100vh - 90.4px); }

.container {
  width: 80%;
  margin: 0 auto; }

.star {
  font-size: 1.3rem;
  color: #cccccc;
  display: inline-block;
  margin-right: 0.2em; }
  .star--active {
    color: #f2b01e; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  padding: 2em;
  width: 60%;
  margin: 0 auto;
  background-color: white; }
  .form__header {
    text-align: center;
    width: 100%; }
  .form__group {
    margin: 1.5em 0em;
    width: 100%; }
  .form__button {
    margin: 1.5em auto; }
  .form__stars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: center; }
  .form__textarea {
    resize: none;
    width: 100%;
    min-height: 6em;
    padding: 0.7em;
    font-size: 1.4em;
    font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #FE6363; }
  .form__text {
    padding: 0.7em;
    font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.1em solid #FE6363; }
  .form__label {
    text-align: left;
    color: #404040;
    margin-bottom: 15px;
    font-size: 1.2rem;
    display: inline-block; }
  .form__review {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
    .form__review input[type=radio] {
      display: none; }
    .form__review input[type=radio]:checked ~ label .star {
      color: #f2b01e; }
    .form__review input[type=radio]:hover ~ label .star {
      color: #f2b01e; }

.pagination {
  width: 100%;
  text-align: center;
  margin: 30px 0px; }
  .pagination__link {
    padding: 5px;
    position: relative;
    margin: 0px 10px;
    text-decoration: none;
    color: #FE6363; }
    .pagination__link:visited {
      color: #FE6363; }
    .pagination__link::after {
      width: 100%;
      position: absolute;
      left: 0px;
      top: 100%;
      border-bottom: 2px solid #FE6363;
      content: "";
      display: none; }
    .pagination__link:hover::after {
      display: inline-block; }
    .pagination__link--current::after {
      display: inline-block; }

.nav {
  width: 100%;
  padding: 1.25rem;
  font-size: 1rem;
  z-index: 1;
  background-color: #FE6363; }
  .nav--light .nav__logo, .nav--light .nav__open {
    color: #FE6363; }
  .nav--absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; }
  .nav__close {
    position: absolute;
    font-size: 4rem;
    right: 1rem;
    top: 1rem;
    color: white;
    background-color: transparent; }
  .nav__open {
    background-color: transparent;
    font-size: 2rem;
    color: white; }
  .nav__top {
    display: flex;
    justify-content: space-between; }
  .nav__items {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    background-color: #FE6363;
    left: 0;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .nav__logo {
    color: white; }
  .nav__item {
    position: relative;
    display: inline-block;
    font-size: 1.15em;
    font-size: 4rem;
    margin: 2rem; }
    .nav__item--link {
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      z-index: 2;
      display: inline-block; }
      .nav__item--link:visited {
        color: white; }
      .nav__item--link::after {
        display: none;
        width: 110%;
        position: absolute;
        left: 0px;
        top: 0.5em;
        border-bottom: 0.8em solid #FE6363;
        z-index: -1;
        content: ""; }
      .nav__item--link:hover::after {
        display: inline-block; }
  @media screen and (max-width: 640px) {
    .nav {
      flex-direction: column;
      font-size: 1.2rem; }
      .nav__item {
        display: block;
        margin: 1em; } }

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0.8em 1.5em;
  background-color: transparent;
  display: inline-block; }
  .btn:hover {
    box-shadow: none;
    transform: translateY(2px); }
  .btn__icon {
    margin-right: 10px; }
  .btn--primary {
    background-color: #FE6363;
    color: #E8F1F2; }
  .btn--secondary {
    color: #FE6363;
    background-color: white; }
  .btn--want {
    background-color: #e1ae41;
    color: #E8F1F2; }
    .btn--want * {
      color: #E8F1F2; }
  .btn--watched {
    background-color: #cc41e1;
    color: #E8F1F2; }
    .btn--watched * {
      color: #E8F1F2; }
  .btn--slide {
    position: relative;
    left: 85%;
    transition: all 0.5s;
    height: 50px;
    width: 50px;
    margin-bottom: 0.2em; }
    @media screen and (max-width: 640px) {
      .btn--slide {
        left: 0%;
        transition: none; } }

.film {
  font-size: 1rem;
  margin: 100px auto 100px auto;
  width: 60%; }
  .film__bttns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; }
  .film__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 75px; }
  .film__poster {
    width: 25%;
    object-fit: cover;
    margin-right: 60px; }
  .film__main {
    margin-bottom: 40px; }
  .film__title {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    margin-bottom: 10px; }
  .film__plot {
    color: #888888;
    margin-bottom: 30px; }
  .film__extra {
    display: flex;
    justify-content: space-between; }
  .film__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }

.cast__header {
  position: relative;
  display: inline-block; }
.cast__actor {
  color: #888888; }

.critics__header {
  position: relative;
  display: inline-block; }
.critics__val {
  color: #404040; }
.critics__name {
  color: #888888; }

.category {
  color: #404040; }

.unit {
  color: #888888; }

.stat {
  display: inline-block;
  margin-right: 20px; }

.slider__line {
  margin: 1em 0em; }
.slider__links {
  margin-bottom: 10px; }
.slider__link {
  background-color: transparent;
  font-size: 1.9999rem;
  margin-right: 2em; }
.slider__underline {
  height: 2px;
  left: 0px;
  position: relative;
  margin-bottom: 10px;
  background-color: #FE6363;
  transition: width 0.5s, left 0.5s; }
.slider__content--hidden {
  display: none; }
.slider__content--show {
  display: block; }

.results-container {
  width: 90%;
  margin: 0 auto;
  padding: 75px; }

.results {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 75px; }

.query {
  color: #FE6363;
  font-size: 1.999rem; }

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  font-size: 1rem; }
  .result__name {
    display: inline;
    font-size: 2rem;
    color: #404040; }
  .result__desc {
    color: #888888; }
  .result__year {
    margin-left: 5px;
    color: #888888; }
  .result__links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    color: #888888; }
    .result__links i {
      margin-right: 5px;
      color: #404040; }
  .result__link {
    color: #888888;
    cursor: pointer; }
    .result__link:visited {
      color: #888888; }
  .result__poster {
    width: 35%;
    align-self: center; }
  .result__text {
    margin: 1.5em 1.25em;
    flex-grow: 1; }
  .result__header {
    margin-bottom: 1em; }
  .result:hover .btn--slide {
    left: 0%; }

.search {
  font-size: 1.2rem;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.175em solid #FE6363;
  width: 60%; }
  .search__btn {
    font-size: 1.2rem;
    color: #FE6363;
    background-color: transparent;
    margin: 0em 1em; }
  .search__bar {
    background: transparent;
    border: none;
    font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
    color: #FE6363;
    font-size: 1.75em;
    padding: 0.75em;
    flex-grow: 1; }
    .search__bar::placeholder {
      font-family: "Josefin Sans", Tahoma, Geneva, Verdana, sans-serif;
      color: #FE6363;
      letter-spacing: 2px;
      font-weight: 700; }
  @media screen and (max-width: 640px) {
    .search {
      font-size: 1rem; } }
  @media screen and (max-width: 640px) {
    .search {
      font-size: 0.8rem; } }

.error {
  background: #f08080;
  width: 100%;
  padding: 1rem; }

.success {
  background: #90ee90;
  width: 100%;
  padding: 1rem; }

.review {
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 100px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2.5em; }
  .review__more {
    background-color: transparent;
    font-size: 16px;
    color: #404040; }
  .review__user {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .review__img {
    width: 100px;
    height: 100px;
    margin: 0em 1em;
    object-fit: cover;
    border-radius: 150px; }
  .review__extra {
    height: 0px;
    overflow: hidden; }
  .review__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; }
  .review__delete {
    font-size: 1rem; }
  .review__extra--open {
    margin: 1.25em 0px; }
  .review__username {
    font-size: 1.2rem;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    color: #404040; }
    .review__username:visited {
      color: #404040; }
  .review__stars {
    display: inline-block;
    text-align: center;
    margin: 0.7em 2em 0.7em 0em; }
  .review__title {
    margin-right: 10px;
    color: #404040; }
  .review__header {
    display: flex;
    align-items: flex-end; }
  .review__text {
    color: #888888;
    margin-bottom: 20px; }
  .review__btn {
    color: #404040;
    background-color: transparent;
    font-size: 1rem; }

.reviews-container {
  padding: 100px 0px;
  background-color: #FE6363; }

.reviews {
  margin: 0 auto;
  width: 70%;
  position: relative; }
  .reviews__header {
    margin-bottom: 75px;
    text-align: center; }
  .reviews__avg {
    color: white; }
  .reviews__add {
    position: absolute;
    right: 0; }
  .reviews__title {
    position: relative;
    display: inline-block;
    color: white;
    margin-right: 10px; }
  .reviews__msg {
    color: white;
    font-size: 1.999rem; }

.user {
  display: inline-block;
  width: 22%;
  text-align: center;
  padding: 20px;
  vertical-align: top; }
  .user--full {
    width: 100%;
    position: relative; }
  .user__btn {
    margin-bottom: 0.3em;
    width: 100%; }
  .user__name {
    margin: 10px 0px; }
  .user__image-container {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #FE6363;
    overflow: hidden;
    margin: 30px auto; }
  .user__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .user__upload {
    opacity: 0;
    overflow: hidden;
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
    position: absolute; }
  .user__upload:focus + label {
    outline: 1px solid #4d90fe; }
  @media screen and (max-width: 640px) {
    .user {
      width: 100%; } }

.footer {
  background-color: #FE6363;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .footer__text {
    color: white; }

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: auto; }

.landing {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing__headline {
    color: white; }
  .landing__subheading {
    color: white; }
  .landing__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #FE6363;
    opacity: 0.2;
    z-index: -1; }
  .landing__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%; }

.tile-row {
  display: flex;
  flex-direction: row; }
  .tile-row:nth-of-type(2n) .tile:nth-child(2) {
    background-color: #FE6363; }
  .tile-row:nth-of-type(2n + 1) .tile:nth-child(1) {
    background-color: #FE6363; }

.tile {
  width: 50%;
  padding-top: 50%;
  position: relative; }
  .tile__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    text-align: center; }
  .tile__header {
    margin-bottom: 20px; }
  .tile__header, .tile__text {
    color: white; }
  .tile__img {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    object-fit: cover; }

.cta {
  width: 100%;
  text-align: center;
  padding: 7em 0em; }
  .cta__text {
    margin-bottom: 1em; }

.card-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .card-container__header {
    width: 100%; }

.list-container {
  width: 60%;
  margin-left: 5%;
  position: relative;
  padding: 20px;
  display: inline-block; }
  @media screen and (max-width: 640px) {
    .list-container {
      width: 100%;
      margin-left: 0%; } }

.films-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 40px;
  width: 100%;
  margin: 50px 0px 75px 0px; }

.user__section {
  margin-bottom: 50px; }

/*# sourceMappingURL=app.css.map */
