<!DOCTYPE html>
<html>
<head>
    <title>FilmApp</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/styles/css/app.css">
<head>
<body>
    <nav class="nav">
        <h3 class="nav__logo">FilmFinder</h3>

        <div>
            <a class="nav__item nav__item--link" href="/">Home</a>
            <a class="nav__item nav__item--link" href="#">Search</a>
            <% if(!currentUser) { %>
                <a class="nav__item nav__item--link" href="/login">Login</a>
                <a class="nav__item nav__item--link" href="/register">Sign Up</a>
            <% } else { %>
                <a class="nav__item nav__item--link" href="/logout">Logout</a>
                <a class="nav__item nav__item--link" href="/user/<%=currentUser._id%>">Hello <%= currentUser.username %>!</a>
            <% } %>
        </div>
    </nav>

    
    <% if(error && error.length > 0) {  %>
        <div class="error">
            <h4><%=error%></h4>
        </div>
    <% } %>

    <% if(success && success.length > 0) {  %>
        <div class="success">
            <h4><%=success%></h4>
        </div>
    <% } %>
    