<form class="search search--<%=size%>" method="GET" action="/search">
    <input class="search__bar" type="text" name="filmName" placeholder="Film Name...">
    <button class="btn btn--<%=size%>"><i class="fa fa-arrow-right"></i></button>
</form>