.results-container{
    width:90%;
    margin:0 auto;
}

.results{
    background-color:white;
    width:90%;

    margin:7.5em auto;

    display:grid;

    grid-template-columns: 1fr;
    grid-gap: 5em;

    align-items: center;

    @include breakpoint($tablet){
        width:100%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10em;
    }
}

.query{
    color:$primary-colour;
    font-size:1.999rem;
}

.result {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    text-overflow: ellipsis;

    &__name{
        display:inline;
        font-size:2em;
        color:$gray;
    }

    &__desc{
        color:$light-gray;
    }

    &__year{
        margin-left:0.5rem;
        color:$light-gray;

        font-size:1.6em;
    }

    &__links{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        width:100%;
        justify-content: space-between;

        margin-top:3em;
    }

    &__poster {
        width:100%;
        align-self:center;

        margin-bottom: 2em;
    }

    &__text{
        margin-right:4em;
        flex-grow: 1;
    }

    &__header{
        margin-bottom: 1em;
    }
    

    &__btn{
        margin-bottom: 0.5em;
    }

    @include breakpoint($tablet){
        flex-direction: row;

        &__poster{
            width:35%;
        }
    }
}
