$txt-dark:black;
$txt-light:#E8F1F2;

$gray: #404040;
$light-gray:#888888;

$primary-colour:#FE6363;
$light-primary-color:#C2D3FF;
$card-colour: #ffffff;

$star-colour:#f2b01e;

$box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);