<% include ../partials/header %>

<div class="container container--centre">

    <h3>Log in to your account</h3>

    <form class="form" method="POST" action="/login">
        <div class="form__group">
            <input class="form__text" type="text" name="username" autocomplete="off" placeholder="Username">
        </div>
        
        <div class="form__group">
            <input class="form__text" type="password" name="password" autocomplete="off" placeholder="Password">
        </div>

        <button class="form__btn">Login</button>
    </form>

</div>

<% include ../partials/footer %>