<% include ../partials/header %>

<form class="form" method="POST" action="/register">
    <label class="form__label"> Username
        <input class="form__text" type="text" name="username" autocomplete="off">
    </label>
    <label class="form__label"> Password
        <input class="form__text" type="password" name="password" autocomplete="off">
    </label>
    <button class="form__btn">Register</button>
</form>

<% include ../partials/footer %>