<% include ../partials/header-absolute %>

<div class="bg-primary full-screen full-screen--center">
    <div class="container">
        <form class="form" method="POST" action="/register">
            <div class="form__header">
                <h1>Sign Up</h1>
            </div>
            <div class="form__group">
                <input class="form__text" type="text" name="username" autocomplete="off" placeholder="Username">
            </div>
            
            <div class="form__group">
                <input class="form__text" type="password" name="password" autocomplete="off" placeholder="Password">
            </div>

             <div class="form__group">
                <button class="btn btn--primary form__btn">Sign Up</button>
            </div>
            
        </form>

    </div>
</div>

<% include ../partials/footer %>