<% include ../partials/header %>

<div class="container container--centre">

    <h3>Register a new account</h3>

    <form class="form" method="POST" action="/register">
        <div class="form__group">
            <input class="form__text" type="text" name="username" autocomplete="off" placeholder="Username">
        </div>
        
        <div class="form__group">
            <input class="form__text" type="password" name="password" autocomplete="off" placeholder="Password">
        </div>

        <div class="form__group">
            <button class="btn btn--primary">Register</button>
        </div>
    </form>

</div>

<% include ../partials/footer %>