.full-width{
    width:100%;
}

.h-left{
    @include flex-container(center, flex-start);
}

.vh-centre{
    @include flex-container(center, center);
}

.text-right{
    text-align: right;
}

.text-centre{
    text-align: center;
}