$base-font-stack: 'Josefin Sans', Tahoma, Geneva, Verdana, sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

$txt-xs:14pt;
$txt-sm:16pt;
$txt-med:20pt;
$txt-large: 40pt;
$txt-xl: 60pt;

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

h1{
    font-size:$txt-xl;
    letter-spacing: 5px;
    margin:30px 0px;
}

h2{
    font-size:$txt-large;
    letter-spacing: 5px;
    margin:6px 0px;
}

h3{
    font-size:$txt-med;
    letter-spacing: 3px;
    margin:5px 0px;
}

h4{
    font-size: $txt-sm;
    margin:2px 0px;
}

p{
    font-size:$txt-xs;
}

.msg-container{
    @extend .vh-centre;
    @extend .full-width;

    margin-top:100px;
}

.msg{
    font-size:$txt-large;
}