<% include partials/header-absolute.ejs %>

<div class="centre-screen">
    <img src="/pics/landing.jpg" alt="" class="landing__img">
    <div class="landing__overlay"></div>
    <h1 class="landing__headline">Keep track of your must-see movies.</h1>
    <p class="landing__subheading">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas unde vel odio, ea fugiat sequi illo voluptate dicta animi deserunt.</p>
</div>

<div class="tiles">
    <div class="tile-row">
        <div class="tile">
            <div class="tile__content">
                <h2 class="tile__header">All the movies you love, in one place.</h2>
                <p class="tile__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto deleniti recusandae eius eaque atque.</p>
            </div>
        </div>
        <div class="tile"><img src="/pics/collection.jpg" alt="" class="tile__img"></div>
    </div>
     <div class="tile-row">
        <div class="tile"><img src="/pics/cinema.jpg" alt="" class="tile__img"></div>
        <div class="tile">
             <div class="tile__content">
                <h2 class="tile__header">Help others by reviewing movies you've seen.</h2>
                <p class="tile__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto deleniti recusandae eius eaque atque.</p>
            </div>
        </div>
    </div>
     <div class="tile-row">
        <div class="tile">
            <div class="tile__content">
                <h2 class="tile__header">Keep track of your movie collection.</h2>
                <p class="tile__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto deleniti recusandae eius eaque atque.</p>
            </div>
        </div>
        <div class="tile"><img src="/pics/laptop.jpg" alt="" class="tile__img"></div>
    </div>
</div>

<div class="cta">
    <h3 class="cta__text">So what are you waiting for...</h3>
    <a href="/register" class="btn btn--primary">Sign Up Now</a>
</div>

<script type="text/javascript" src="../js/homeSizing.js"></script>
<% include partials/footer.ejs %>