<% include partials/header.ejs %>

<div class="home-container">
    <h1 class="header header--xl">Search</h1>
    <%- include("partials/search-bar",{size:"large"}) %>
</div>

<% include partials/footer.ejs %>