<% include partials/header.ejs %>

<div class="home">

    <h1 class="large-header">Search</h1>
    <form method="GET" action="/search">
        <input type="text" name="filmName" placeholder="Film Name...">
        <input type="submit">
    </form>

</div>

<% include partials/footer.ejs %>