<% include partials/header.ejs %>

<div class="centre-screen">

    <h1 class="landing__headline">Keep track of your must-see movies.</h1>
    <p class="landing__subheading">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas unde vel odio, ea fugiat sequi illo voluptate dicta animi deserunt.</p>
</div>

<div class="tiles">
    <div class="tile-row">
        <div class="tile">
            <div class="tile__content">
                <h2>All the movies you love, in one place.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto deleniti recusandae eius eaque atque.</p>
            </div>
        </div>
        <div class="tile"></div>
    </div>
     <div class="tile-row">
        <div class="tile"></div>
        <div class="tile">
             <div class="tile__content">
                <h2>Help others by reviewing movies you've seen.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto deleniti recusandae eius eaque atque.</p>
            </div>
        </div>
    </div>
     <div class="tile-row">
        <div class="tile">
            <div class="tile__content">
                <h2>Keep track of your movie collection.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto deleniti recusandae eius eaque atque.</p>
            </div>
        </div>
        <div class="tile"></div>
    </div>
</div>

<div class="cta">
    <h3 class="cta__text">So what are you waiting for...</h3>
    <a href="/register" class="btn btn--primary">Sign Up Now</a>
</div>

<script type="text/javascript" src="../js/homeSizing.js"></script>
<% include partials/footer.ejs %>