<% include partials/header-absolute.ejs %>

<div class="centre-screen landing full-screen">
    <img src="/pics/landing.jpg" alt="" class="landing__img">
    <div class="landing__overlay"></div>
    <div class="landing__text">
        <h1 class="landing__headline">Keep track of your must-see movies.</h1>
        <p class="landing__subheading">Search, Add and Review.</p>
    </div>
</div>

<div class="tiles">
    <div class="tile-row">
        <div class="tile">
            <div class="tile__content">
                <h2 class="tile__header">All the movies you love, in one place.</h2>
                <p class="tile__text">Searches completed using the OMDb API means that we can find any movie you are thinking of.</p>
            </div>
        </div>
        <div class="tile"><img src="/pics/collection.jpg" alt="" class="tile__img"></div>
    </div>
     <div class="tile-row">
        <div class="tile"><img src="/pics/cinema.jpg" alt="" class="tile__img"></div>
        <div class="tile">
             <div class="tile__content">
                <h2 class="tile__header">Review movies you've seen.</h2>
                <p class="tile__text">Add reviews for others to see. Give them an overall rating, and more ratings for more specific categories, like Acting, Music, and Cinematography.</p>
            </div>
        </div>
    </div>
     <div class="tile-row">
        <div class="tile">
            <div class="tile__content">
                <h2 class="tile__header">Keep track of your movie collection.</h2>
                <p class="tile__text">All the movies you mark as seen or want-to-seen are shown on your user page, which is always available.</p>
            </div>
        </div>
        <div class="tile"><img src="/pics/laptop.jpg" alt="" class="tile__img"></div>
    </div>
</div>

<div class="cta">
    <h2 class="cta__text">So what are you waiting for...</h2>
    <a href="/register" class="btn btn--primary">Sign Up Now</a>
</div>

<% include partials/footer.ejs %>