<% include ../partials/header-absolute %>


<div class="bg-primary full-screen full-screen--center">
	<div class="container">
		<form class="form" method="POST" action="/user/<%=userID%>/password">
				<div class="form__header">
					<h1>Change Password</h1>
				</div>
			<div class="form__group">
				<input name="oldPassword" type="password" placeholder="Old Password" class="form__text">
			</div>

			<div class="form__group">
				<input name="newPassword" type="password" placeholder="New Password" class="form__text">
			</div>

			 <div class="form__group">
                <button class="btn btn--primary form__btn">Change Password</button>
            </div>
	
		</form>

	</div>
</div>


<% include ../partials/footer %>