<% include ../partials/header %>

<div class="container">
    <div class="user">
        <h3><%=user.username%></h3>
    </div>
    <div class="watched">
        <h2>Watched Films</h2>
        <% watched.forEach(film => { %>
            <h4><%= film.title %></h4>
            <h6><%= film.year %></h6>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>