.btn{
    @include flex-container(center, center, wrap, column);

    text-align: center;

    background-color:transparent;
    border:none;

    padding: 10px;

    cursor:pointer;

    &--rise:hover{
        position:relative;
        top:-3px;
    }

    &__icon{
        font-size:24pt;
        margin: 4px 0px;
    }

}