.btn{
    @include flex-container(center, center, wrap, column);

    text-align: center;

    background-color:transparent;
    border:none;

    padding: 10px;

    cursor:pointer;

    font-size:24pt;

    &--rise:hover{
        position:relative;
        top:-3px;
    }

    &--large{
        font-size:30pt;
    }
}