
.nav{
    width:100%;
    padding:45px;

    display:flex;
    justify-content: space-between;

    &__item{
        position:relative;
        display:inline-block;

        &--link{
            padding:0px 20px;
    
            font-size:14pt;
    
            &::after{
                display:none;
    
                width:100%;
    
                position: absolute;
                left:0px;
                top:30px;
                border-bottom:2px solid $txt-primary;
    
                content:"";
            }
    
            &:hover::after{
                display:inline-block;
            }
        }
    }
}