.review{
	font-size:1rem;

	margin:0 auto;
	width:100%;

	display:flex;
	flex-direction: column;
	align-items: flex-start;

	margin-bottom:10em;

	background-color:$card-colour;
	box-shadow: $box-shadow;

	padding:2.4em;

	&__more{
		background-color:transparent;
		font-size:1.6rem;
		color:$primary-colour;
	}

	&__user{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items:center;
		text-align: center;

		margin-bottom: 2em;

		width:100%;
	}

	&__user-info{
		display: flex;
		align-items: center;
	}

	&__img{
		width:5em;
		height:5em;

		margin-right:1em; 
		object-fit:cover;

		border-radius: 15em;
	}

	&__extra{
		height:0em;
		overflow: hidden;
	}

	&__links{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__delete{
		font-size:1.6rem;
	}

	&__extra--open{
		margin:1.25em 0em;
		margin-top:2em;
	}

	&__username{
		font-size:1.6rem;
		display: inline-block;

		color:$gray;

		margin-right:1em;

		&:visited{
			color:$gray;
		}
	}

	&__stars{
		display:inline-block;
		margin-bottom: 1rem;
		margin-right: 2rem;
	}

	&__overall{
		margin-bottom: 1rem;
	}

	&__title{
		color:$gray;
		margin-bottom: 0.5rem;
	}

	&__header{
		display: flex;
		flex-direction: column;
	}

	&__text{
		color:$light-gray;
		margin-bottom: 2rem;
	}
	
	&__btn{
		color:$primary-colour;
		background-color: transparent;
		font-size:1.6rem;

		margin: 0em 0.5em;
	}

	@include breakpoint($desktop){
		flex-direction: row;
		padding:2.5em;

		&__title{
			margin-right:1rem;
			margin-bottom: 0;
		}

		&__header{
			flex-direction: row;
			align-items:flex-end;
		}

		&__stars{
			text-align: center;
			margin:0.7em 2em 0.7em 0em;
		}

		&__username{
			margin-top:1em;
			margin-right: 0;
		}

		&__links{
			margin-top:1rem;
		}

		&__user{
			flex-direction: column;
			margin-right:3em;
			width: auto;
			min-width: 10em;
		}

		&__user-info{
			flex-direction: column;
		}

		&__img{
			width:10em;
			height:10em;

			margin:0em 1em;
		}

	}
}

.reviews-container{
	padding:10em 0em;

	background-color:$primary-colour;
}

.reviews{
	margin:0 auto;
	
	width:70%;
	position: relative;

	&__header{
		margin-bottom:7.5rem;

		text-align: center;
	}

	&__avg{
		color:white;
	}

	&__title{
		position: relative;
		display: block;

		color:white;

		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	&__msg{
		color:white;
		font-size:1.999rem;
	}

	&__add{
		margin-bottom: 1rem;
	}

	@include breakpoint($desktop){
		&__add{
			position: absolute;
			right:0;
			margin-bottom: 0;
		}

		&__title{
			margin-bottom: 0rem;
			display: inline-block;
		}
	}
}
