<% include ../partials/header %>

<div class="text-centre width-80"> 
    <h2>Add Review</h2>
    <h3>Film Name</h3>

    <form class="form" method="POST" action="/films/<%=filmID %>/reviews">
        <label class="form__label" for="review-text">Review</label>
        <textarea id="review-text" class="form__textarea" name="review"></textarea>
        <label class="form__label" for="rating-select">Rating</label>
        <select id="rating-select" class="form__select" name="stars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        
        <input class="form__btn" type="submit">
    </form>
<div>

<% include ../partials/footer %>