<% include ../partials/header %>

<div class="text-centre width-80"> 
    <h2>Add Review</h2>
    <h3>Film Name</h3>

    <form class="form">
        <textarea class="form__textarea" name="review" placeholder="Review..."></textarea>
        <input class="form__btn" type="submit">
    </form>
<div>



<% include ../partials/footer %>