.btn{
    @include flex-container(column, center, center);
    text-align: center;

    font-size:1.2rem;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    padding:0.8em 1.5em;

    background-color: transparent;

    display:inline-block;

    &:hover{
        box-shadow: none;
        transform: translateY(2px);
    }

    &__icon{
        margin-right:10px;
    }

    &--primary{
        background-color:$primary-colour;
        color:$txt-light;
    }

    &--secondary{
        color: $primary-colour;
        background-color:white;
    }

    &--want{
        background-color:$want-colour;
        color:$txt-light;

        *{
            color:$txt-light;
        }
    }

    &--watched{
        background-color:$watched-colour;
        color:$txt-light;

        *{
            color:$txt-light;
        }
    }

    &--slide{
       position: relative;
       left:85%;
       transition: all 0.5s;

       height: 50px;
       width: 50px;

       margin-bottom: 0.2em;
    
        @include breakpoint($smartphone){
            left:0%;
            transition: none;
        }
       
    }    
}