.btn{
    @include flex-container(column, center, center);
    text-align: center;

    font-size:1.5rem;
    
    border:none;
    background-color: transparent;
    cursor:pointer;

    text-decoration: none;

    padding:0.8em;

    &--form{
        display:inline-block;

        button{
            width:100%;
        }
    }

    &--primary{
        background-color:$primary-colour;
        color:$txt-light;

        *{
            color:$txt-light;
        }
    }

    &--secondary{
        color: $primary-colour;
        text-transform: uppercase;
    }

    &--slide{
       position: relative;
       left:85%;
       transition: all 0.5s;

        &:hover{
            left:0%;
        }

        @include breakpoint($smartphone){
            left:0%;
            transition: none;
        }
    }    
}