.btn{
    @include flex-container(column, center, center);;
    text-align: center;
    
    border:none;
    background-color: transparent;
    cursor:pointer;

    text-decoration: none;

    padding:15px;

    &--form{
        display:inline-block;
    }

    &--primary{
        background-color:$primary-colour;
        color:$txt-light;
    }

    &--secondary{
        color: $primary-colour;
        text-transform: uppercase;
    }

    &--slide{
       position: relative;
       left:85%;
       transition: all 0.5s;

        &:hover{
            left:0%;
        }
    }
}