.results-container{
    width:90%;
    margin:0 auto;
}

.results{
    background-color:white;
    width:100%;

    display:grid;

    grid-template-columns: 1fr;
    grid-gap: 50px;

    align-items: center;

    margin-top:75px;
    margin-bottom: 75px;

    @include breakpoint($tablet){
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px;
    }
}

.query{
    color:$primary-colour;
    font-size:1.999rem;
}

.result {
    @include flex-container(column-reverse, space-between, center);

    text-overflow: ellipsis;

    font-size:1rem;


    &__name{
        display:inline;
        font-size:2rem;
        color:$gray;
    }

    &__desc{
        color:$light-gray;
    }

    &__year{
        margin-left:5px;
        color:$light-gray;
    }

    &__links{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        justify-content: space-between;

        margin-top:30px;

        color:$light-gray;

        i{
            margin-right:5px;
            color:$gray;
        }
    }

    &__link{
        color:$light-gray;

        cursor: pointer;

        &:visited{
            color:$light-gray;
        }
    }

    &__poster {
        width:80%;
        align-self:center;
    }

    &__text{
        margin:1.5em 1.25em;
        flex-grow: 1;
    }

    &__header{
        margin-bottom: 1em;
    }


    &:hover{
        .btn--slide{
            left:0%;
        }
    }

    @include breakpoint($tablet){
        flex-direction: row;

        &__poster{
            width:35%;
        }
    }
}
