.form{
    padding:20px;

    min-width:340px;
    width:60%;
    margin:30px auto;

    text-align: center;

    &__textarea{
        resize:none;

        width:100%;
        min-height:200px;

        padding:10px;
        margin:10px auto;

        font-family:$base-font-stack;
    }

    &__text{
        padding:10px;
        font-family:$base-font-stack;

        display:block;

        margin:10px auto;

        min-width:300px;
        width:50%;
    }

    &__label{
        display:block;
        margin:20px 0px;
    }

    &__label:first-of-type{
        margin:0px 0px 20px 0px;
    }

    &__btn{
        @extend .btn;
        margin:10px 0px;
    }

    &__review{

        display:flex;
        flex-direction: row-reverse;
        justify-content: center;


        input[type=radio]{
            display:none;
        }

        
        input[type=radio]:checked ~ label .form__star{
            color:#FFFF99;
        }

        input[type=radio]:hover ~ label .form__star{
            color: #FFFF99;
        }

    }

    &__star{
        font-size:30pt;
        color:#cccccc;
        display:inline-block;
        margin:10px;
    }

    &__star.active{
        color:#ffff99;
    }
}