.form{
    @include flex-container(column, center, center);
    font-size:1rem;

    padding:1.25em 2em;

    width:60%;

    background-color: $card-colour;
    box-shadow: $box-shadow;

    text-align: center;

    margin:7em auto;

    &__group{
        margin:1.5em 0em;
        width:100%;
    }

    &__button{
        margin: 0 auto;
    }


    &__textarea{
        resize:none;

        width:100%;
        min-height:14em;

        padding:0.7em;

        font-size:1.4em;
        font-family:$base-font-stack;
    }

    &__text{
        padding:0.7em;

        font-family:$base-font-stack;
        font-size:1.4em;

        width:80%;

        background-color: transparent;
        border:none;
        border-bottom: 0.2em solid $primary-colour;
    }

    &__label{
        font-size:1.5em;
    }

    &__review{
        @include flex-container(row-reverse, center, center);

        input[type=radio]{
            display:none;
        }
        
        input[type=radio]:checked ~ label .star{
            color:$star-colour;
        }

        input[type=radio]:hover ~ label .star{
            color: $star-colour;
        }

    }
}