.error{
    background: #f08080;
    width:100%;
    padding:1rem;

    &--absolute{
        position:absolute;
        top:7em;
    }
}

.success{
    background:#90ee90;
    width:100%;
    padding:1rem;

    &--absolute{
        position:absolute;
        top:7em;
    }
}