
.nav{
    width:100%;
    padding:20px;

    display:flex;
    justify-content: space-between;
    align-items: center;


    z-index:1;

    &__item{
        position:relative;
        display:inline-block;

        &--link{
            padding:0px 20px;
    
            font-size:$txt-smaller;
            text-transform: uppercase;
            font-weight: $bold;

            z-index:2;

            color:$txt-primary;
            text-decoration: none;

            &:visited{
                color:$txt-primary;
            }
    
            &::after{
                display:none;
    
                width:100%;
    
                position: absolute;
                left:0px;
                top:10px;
                border-bottom:13px solid #C2D3FF;

                z-index:-1;
    
                content:"";
            }
    
            &:hover::after{
                display:inline-block;
            }
        }
    }
}