.nav{
    @include flex-container(row, space-between, center);

    width:100%;
    padding:1.25rem;

    font-size:1rem;

    z-index:1;

    &__item{
        position:relative;
        display:inline-block;

        font-size:1.15em;

        &--link{
            padding:0px 1.25em;
    
            text-transform: uppercase;
            font-weight: $bold;
            color:$txt-dark;

            z-index:2;

            &:visited{
                color:$txt-dark;
            }
    
            &::after{
                display:none;
    
                width:100%;
    
                position: absolute;
                left:0px;
                top:0.5em;
                border-bottom:0.8em solid #C2D3FF;

                z-index:-1;
    
                content:"";
            }
    
            &:hover::after{
                display:inline-block;
            }
        }
    }
}