
.nav{
    width:100%;
    padding:20px;
    margin-bottom:30px;

    display:flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;

    box-shadow:0px 6px 5px #f0f0f0;

    &__item{
        position:relative;
        display:inline-block;

        &--link{
            padding:0px 20px;
    
            font-size:$txt-smaller;
            text-transform: uppercase;
            font-weight: $bold;
    
            &::after{
                display:none;
    
                width:100%;
    
                position: absolute;
                left:0px;
                top:30px;
                border-bottom:3px solid $txt-primary;
    
                content:"";
            }
    
            &:hover::after{
                display:inline-block;
            }
        }
    }
}