.pagination{
    width:100%;
    text-align:center;
    margin:30px 0px;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    &__link{
        padding:5px;
        
        position:relative;

        margin:0px 10px;

        text-decoration: none;
        color:$primary-colour;

        &:visited{
            color:$primary-colour;
        }

        &::after{
            width:100%;

            position: absolute;
            left:0px;
            top:100%;

            border-bottom:2px solid $primary-colour;
            content:"";
            
            display:none;
        }

        &:hover::after{
            display:inline-block;
        }

        &--current::after{
            display:inline-block;
        }
    }
}