.film{
    font-size:1rem;

    margin:100px auto 100px auto;

    width:60%;

    &__bttns{
        display:flex;
        justify-content: space-between;
        margin-top:30px;
    }
    

    &__info{
        width:100%;
        display:flex;
        flex-direction: row;
        align-items:center;

        margin-bottom: 75px;
    }

    &__poster{
        width:25%;
        object-fit: cover;

        margin-right:60px;
    }

    &__main{
        margin-bottom:40px;
    }

    &__title{
        margin:0 auto;
        position: relative;
        display:inline-block;

        margin-bottom:10px;

    }

    &__plot{
        color:$light-gray;
        margin-bottom:30px;
    }

    &__extra{
        display: flex;
        justify-content: space-between;
    }

    &__row{
        display:flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.cast{
    &__header{
        position:relative;
        display:inline-block;
    }

    &__actor{
        color:$light-gray;
    }
}

.critics{
    &__header{
        position:relative;
        display:inline-block;
    }

    &__val{
        color:$gray;
    }

    &__name{
        color:$light-gray;
    }
}


.category{
    color:$gray;
}

.unit{
    color:$light-gray;
}

.stat{
    display:inline-block;
    margin-right:20px;
}

.slider{

    &__line{
        margin:1em 0em;
    }

    &__links{
        margin-bottom:10px;
    }

    &__link{
        background-color:transparent;
        font-size:1.9999rem;

        margin-right:2em;
    }

    &__underline{
        height:2px;
        width:50px;

        position: relative;

        margin-bottom:10px;

        background-color:$primary-colour;
    }


    &__content{
        &--hidden{
            display:none;
        }

        &--show{
            display:block;
        }
    }
}