.film{
    width:100%;
    font-size:1rem;

    display:flex;
    flex-direction: row;

    &__info{
        width:50%;

        padding:3em;
    }

    &__poster{
        width:50%;
        object-fit: cover;
    }

    &__main{
        margin-bottom:40px;
    }

    &__title{
        margin:0 auto;
        position: relative;
        display:inline-block;

        margin-bottom:10px;

        &::after{
            content:"";

            background-color: $primary-colour;
            opacity: 0.2;

            height:30px;

            width:100%;
            bottom:0;
            left:0;
            position: absolute;
        }
    }

    &__plot{
        color:$light-gray;
        margin-bottom:30px;
    }

    &__extra{
        display: flex;
        justify-content: space-between;
    }

    &__row{
        display:flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.cast{
    &__actor{
        color:$light-gray;
        margin:1em 0em;
    }
}

.critic{
    margin:1em 0em;
}

.critics{
    &__val{
        color:$gray;
    }

    &__name{
        color:$light-gray;
    }
}


.category{
    color:$gray;
}

.unit{
    color:$light-gray;
}

.stats{
    text-align: center;

    &__num{
        font-size:50px;
        color:$gray;
        margin-bottom: 10px;
    }

    &__desc{
        color:$light-gray;
        font-size:20px;
        margin-bottom:20px;
    }
}