.panel{
    width:100%;

    padding:40px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px 20px;

    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &__title{
        grid-column:1 / span 3;
        margin: 10px auto;
    }

    &__poster{
        width:80%;
        min-width:200px;

        margin:auto;
    }

    &__column{
        @include flex-container(column, center, flex-start);

        &--left{
           text-align:right;
        }

        &--right{
            text-align:left;
        }
    }

    &__section{
        margin:40px 0px;
    }
}

.panel__btn{
    padding:20px 0px;

    background-color: $primary-colour;
    width:100%;
}