.review{
	font-size:1rem;

	margin:3em 0px;
	width:100%;

	display:grid;
	grid-template-columns: max-content 1fr;

	&__header{
		@include flex-container(row, space-between, center);
	}

	&__bttns{
		text-align: right;
	}

	&__user:hover{
		text-decoration: underline;
	}

	&__content{
		background-color:$card-colour;
		box-shadow: $box-shadow;
		padding:1em;

		z-index:2;
	}

	&__text{
		margin:0.6em 0em;
	}

	&__extra{
		height:0px;
		overflow: hidden;
	}

	&__extra--open{
		margin:1.25em 0px;
	}

	&__stars{
		display:inline-block;
		text-align: center;
		margin:0.7em 2em 0.7em 0em;
	}

	&:hover{
		.btn--slide{
			left:0%;
		}
	}
}