.review{
	font-size:1rem;
	padding:0.8em;

	margin:3em 0px;
	width:100%;

	display:grid;
	grid-template-columns: max-content 1fr;

	&__content{
		background-color:$card-colour;
		box-shadow: $box-shadow;
		padding:1em;

		z-index:2;
	}

	&__text{
		margin:0.6em 0.7em;
	}

	&__extra{
		height:0px;
		overflow: hidden;
	}

	&__extra--open{
		margin:1.25em 0px;
	}

	&__stars{
		display:inline-block;
		text-align: center;
		margin:0.7em;
	}
}