.search{
    margin:10px;

    display:flex;
    align-items: center;

    border-bottom:2px solid $txt-primary;

    &__bar{
        background:transparent;

        border:none;

        font-family: $base-font-stack;
    
        &::placeholder{
            font-family: $base-font-stack;
            color:$txt-primary;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight:$bold;
        }
    
        &:focus{
            outline:none;
        }
    }

    &--large{
        height:100px;
        padding:20px;

        .search__bar{
            margin:20px;
            width:600px;

            font-size:$txt-large;
        }
    }

    &--med{
        height:60px;
        padding:10px;
        width:300px;
        margin:0 auto;

        .search__bar{
            padding:5px;

            font-size: $txt-med;
            border-width:2px;
        }
    }
}