.search{
    font-size:1rem;
    margin:50px auto;

    @include flex-container(row, flex-start, center);

    border-bottom:0.175em solid $primary-colour;

    width:90%;

    &__btn{
        font-size:2rem;
        color:$primary-colour;
        background-color: transparent;

        margin: 0em 1em;
    }

    &__bar{
        background:transparent;
        border:none;

        font-family: $base-font-stack;
        color:$primary-colour;
        font-size:2em;

        padding:0.75em;

        flex-grow: 1;
        min-width: 0;
    
        &::placeholder{
            font-family: $base-font-stack;
            color:$primary-colour;

            letter-spacing: 2px;
            font-weight:$bold;
        }
    }

    @include breakpoint($tablet){
        width:60%;
        font-size:1.6rem;
    }
}
