.search{
    margin:50px 0px;

    display:flex;
    align-items: center;

    &--white{
        border-bottom:3px solid $txt-white;
        
        .search__bar{
            color:$txt-white;
        }

        .search__bar::placeholder{
            color:$txt-white;
        }
    }

    &__bar{
        background:transparent;

        border:none;

        min-width:500px;
        padding: 30px;

        font-family: $base-font-stack;
        font-size:$txt-med;
        color:$txt-primary;
    
        &::placeholder{
            font-family: $base-font-stack;
            color:$txt-primary;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight:$bold;
        }

    }
}