.show-container{
    width:80%;
    margin:auto;
}

.buttons{
    display:inline-block;
    margin:30px auto;
    width:100%;
    padding:10px;
    border-bottom: 1px solid #DCDCDC;
}

.review{
    background:$txt-white;
    width:100%;
    padding:20px;
    margin:10px 0px;
}