.user{
    width:30%;
    margin:0px 10px;
    display:inline-block;

    padding:20px;
    vertical-align: top;
}

.watched{
    width:65%;
    margin:0px 10px;
    display:inline-block;
    padding:20px;
}