.user{
    width:30%;
    margin:0px 10px;
    display:inline-block;

    padding:20px;
    vertical-align: top;
}

.watched{
    width:65%;
    margin:0px 10px;
    display:inline-block;
    padding:20px;
}

.watched-films{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap:20px;
    
    width:100%;
}