.list-container{
    width:60%;
    margin-left:5%;
    position: relative;
    padding:20px;
    display: inline-block;

    @include breakpoint($smartphone){
        width:100%;
        margin-left: 0%;
    }
}

.films-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap:40px;
    width:100%;

    margin-top:50px;
}

.more__btn{
    margin-top: 25px;
}

.user__section{
    margin-bottom: 5.0em;
}