.lists{
    width:60%;
    margin-left:5%;
    position: relative;
    padding:20px;
    display: inline-block;

    @include breakpoint($smartphone){
        width:100%;
        margin-left: 0%;
    }
}

.list{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap:40px;
    width:100%;
    margin-bottom: 3em;

    &__title{
        margin-bottom: 1em;
    }

    &-container{
        margin-bottom:7.5em;
    }
}