.user{
    display:inline-block;

    width:100%;

    text-align: center;
    padding:2em;
    vertical-align: top;

    &--full{
        width:100%;
        position: relative;
    }

    &__btn{
        margin-bottom:0.3em;
        width:100%;
    }

    &__name{
        margin:1rem 0rem;
    }

    &__image{
        margin:3em auto;
        border-radius: 50%;
        border:0.5em solid $primary-colour;
        width:20em;
        height:20em;
        object-fit: cover;

        max-width: none;
    }

    &__upload{
        opacity: 0;
        overflow: hidden;
        width:0.1px;
        height:0.1px;
        z-index:-1;
        position: absolute;
    }

    &__upload:focus + label{
        outline: 1px solid rgb(77, 144, 254);;
    }


    @include breakpoint($tablet){
        width:25em;
        margin-right: 5em;
    }

}

.user-container{
    display:flex;
    flex-direction: column;

    margin-top:4em;

    @include breakpoint($tablet){
        flex-direction: row;
    }
}
