.search-container{
    @include flex-container(column, center, center);
    width:80%;
    height:100%;
    margin:auto;
}

.centre-screen{
    @include flex-container(column, center, center);
    width:100%;
    min-height:625px;
    background:$primary-colour;
}