.stats{
    margin: 9rem 0px;

    @include flex-container(row, space-around, center);

    &__item{
        display:inline-block;
        text-align: center;
    }

    &__num{
        font-size:7em;
        line-height: 1.25em;
    }
}