.stats{
    margin: 6rem 0px;

    @include flex-container(row, space-around, center);

    &__item{
        display:inline-block;
        text-align: center;
    }

    &__num{
        font-size:7em;
        line-height: 1.25em;
    }

    @include breakpoint($smartphone){
        flex-direction:column;

        &__item{
            margin-bottom:2em;
        }
    }
}

.buttons{
    @include flex-container(row, space-between, center);
    width:100%;
}