.list-container{
    width:69%;
    position: relative;
    padding:20px;
    display: inline-block;

    &--full{
        width:100%;
        left:0;
    }
}

.films-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap:20px;
    width:100%;

    margin:0px 0px 75px 0px;
}