.list-container{
    width:74%;
    position: relative;
    padding:20px;
    display: inline-block;

    &--full{
        width:100%;
        left:0;
    }
}

.films-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap:40px;
    width:100%;

    margin:50px 0px 75px 0px;
}