.user{
    width:30%;
    margin:0px 10px;
    display:inline-block;

    padding:20px;
    vertical-align: top;
}

.user-container{
    width:65%;
    margin:0px 10px;
    display:inline-block;
    padding:20px;
}

.films-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap:20px;
    width:100%;

    margin:0px 0px 75px 0px;
}