.vh-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    @extend .vh-center;

    width:100%;
    height:100%;

    flex-direction: column;
}

.large-header{
    font-size:60pt;
    letter-spacing: 5px;
    text-transform:uppercase;
}