.container{
    width:80%;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom:50px;

    &--centre{
        text-align:center;
    }
}

.bg-primary{
    background-color: $primary-colour;
}

.container{
    width:80%;
    margin: 0 auto;
}