@mixin flex-container($direction, $h-align, $v-align:center){
    display:flex;
    flex-direction: $direction;
    justify-content: $h-align;
    align-items: $v-align;
}

@mixin inline-flex-container($direction, $h-align, $v-align:center){
    display:inline-flex;
    flex-direction: $direction;
    justify-content: $h-align;
    align-items: $v-align;
}

$smartphone: 640px;
$tablet:768px;
$desktop:1042px;

@mixin breakpoint($size){
    @media screen and (min-width:$size){
        @content
    }
}