$base-font-stack: 'Josefin Sans', Tahoma, Geneva, Verdana, sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

h1, h2, h3, h4, h5, h6, p{
    color:$txt-dark;
    line-height: 1.4;
}

h1{
    font-size:5.063rem;
}

h2{
    font-size:3.375rem
}

h3{
    font-size:2.25rem
}

h4{
    font-size:1.5rem;
}

h5{
    font-size:1rem;
}

h6{
    font-size:0.667rem;
}

p{
    font-size:1.1rem;
}

.txt-white{
    color:$txt-light;
}