$base-font-stack: 'Josefin Sans', Tahoma, Geneva, Verdana, sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

$txt-smaller:1.25em;
$txt-small:1.5em;
$txt-med:2em;
$txt-large:2.5em;
$txt-larger:3.5em;
$txt-largest:4em;

h1, h2, h3, h4, h5, h6{
    color:$txt-dark;
}